@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var post in Model)
{
    <div class="post">
        <h2>@post.Title</h2>
        <div>
            <img src="~/img/@post.Photo" alt="@post.Title" />
        </div>
        <div>
            Posted on @post.CreatedTime
        </div>
        <p>
            @post.Description
        </p>
    </div>
    <hr />
}

